aes/aes/*_syn
backprop/backprop/*_syn
bfs/bulk/*_syn
bfs/queue/*_syn
fft/strided/*_syn
fft/transpose/*_syn
gemm/ncubed/*_syn
gemm/blocked/*_syn
kmp/kmp/*_syn
md/knn/*_syn
md/grid/*_syn
nw/nw/*_syn
sort/merge/*_syn
sort/radix/*_syn
spmv/crs/*_syn
spmv/ellpack/*_syn
stencil/stencil2d/*_syn
stencil/stencil3d/*_syn
viterbi/viterbi/*_syn
output.data
generate
aes/aes/aes
backprop/backprop/backprop
bfs/bulk/bfs
bfs/queue/bfs
fft/strided/fft
fft/transpose/fft
gemm/ncubed/gemm
gemm/blocked/gemm
kmp/kmp/kmp
md/knn/md
md/grid/md
nw/nw/nw
sort/merge/sort
sort/radix/sort
spmv/crs/spmv
spmv/ellpack/spmv
stencil/stencil2d/stencil
stencil/stencil3d/stencil
viterbi/viterbi/viterbi
